<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>login from director</h1>

    <form action="{% url 'director_login' %}" method="post">
      {% csrf_token %}

      <label for="username">Username</label>
      <input type="text" name="username" required />
      <br /><br />

      <label for="password">Password</label>
      <input type="password" name="password" id="" required />
      <br /><br />

      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
